SYMBOLS {
    __STACKSIZE__: type = weak, value = $0300;   # taille de pile (en octets)
}

MEMORY {
    ZP:     file = "",  start = $0002, size = $001A, type = rw, define = yes;

    # En‑tête iNES (16 octets au début du fichier .nes)
    HEADER: file = %O, start = $0000, size = $0010, fill = yes;

    # 32K de PRG ROM ($8000‑$FFFF)
    ROM0:   file = %O, start = $8000, size = $7FFA, fill = yes, define = yes;

    # Vecteurs IRQ/NMI/RESET à la fin de la ROM
    ROMV:   file = %O, start = $FFFA, size = $0006, fill = yes;

    # 8K de CHR ROM (graphismes)
    ROM2:   file = %O, start = $0000, size = $2000, fill = yes;

    # RAM interne
    # $0000-$00FF = ZP, $0100-$01FF = pile CPU
    # ici on réserve la pile C à partir de $0500
    SRAM:   file = "",  start = $0500, size = __STACKSIZE__, define = yes;

    # 8K de RAM cartouche (variables, bss, heap)
    RAM:    file = "",  start = $6000, size = $2000, define = yes;
}

SEGMENTS {
    ZEROPAGE: load = ZP,     type = zp;

    HEADER:   load = HEADER, type = ro;

    STARTUP:  load = ROM0,   type = ro,  define = yes;
    LOWCODE:  load = ROM0,   type = ro,  optional = yes;
    ONCE:     load = ROM0,   type = ro,  optional = yes;
    CODE:     load = ROM0,   type = ro,  define = yes;
    RODATA:   load = ROM0,   type = ro,  define = yes;
    DATA:     load = ROM0,   run  = RAM, type = rw,  define = yes;

    VECTORS:  load = ROMV,   type = rw;

    CHARS:    load = ROM2,   type = rw;        # données CHR (tiles)

    BSS:      load = RAM,    type = bss, define = yes;
}

FEATURES {
    CONDES: type = constructor,
            label = __CONSTRUCTOR_TABLE__,
            count = __CONSTRUCTOR_COUNT__,
            segment = ONCE;

    CONDES: type = destructor,
            label = __DESTRUCTOR_TABLE__,
            count = __DESTRUCTOR_COUNT__,
            segment = RODATA;

    CONDES: type = interruptor,
            label = __INTERRUPTOR_TABLE__,
            count = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import = __CALLIRQ__;
}
